#HeaderAnchor {
    text-decoration: none;
    color: white;
}

#ProjectPages {
    text-decoration: none;
    font: ;
}

body{
    margin: auto 0;
    font-family: "Courier New", Courier, monospace;
}

.zone {
    color: #1C0155;
    font-size:2em;
    border-radius:;
    /*border:1px solid #1C0155;*/
    transition: all 0.2s linear;
}

li {
    padding: 20px;
}

#MainHeader {
    font-size: 2em;
    padding-top: 3em;
    color: "";
    font-family: "";
    display: flex-end;
}
p {
    font-size: 0.1em
    margin-top: 100em;
    font-family: "";
    color: black;
}

.writing {

}

/*NAV*/
.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
    h1 {
        font-size: 0.5em;
        padding: 0;
    }
    #footer  {
        font-size: 0.8em;
        padding: auto;
        height: 0.5em;
        bottom: 0;
        position: absolute;
        width: 100%;
    }
}

.push {
    margin-left: auto;
}

/*Cover*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/*Project Grid*/

.grid-wrapper {

}

.box > img {
    width: 100%;
}

.box {
    background-color: #15484A;
    padding: 100px;
    margin: 20px;
}


.cover {
    width: 30rem;
}

#footer {
    background: #0f0329; /* Old browsers */
    background: -moz-linear-gradient(top, #0f0329 0%, #0f0329 80%, #1C0155 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f0329), color-stop(80%,#0f0329), color-stop(100%,#1C0155)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0f0329 0%,#0f0329 80%,#1C0155 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0f0329 0%,#0f0329 80%,#1C0155 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0f0329 0%,#0f0329 80%,#1C0155 100%); /* IE10+ */
    background: linear-gradient(top, #0f0329 0%,#0f0329 80%,#1C0155 100%); /* W3C */
    position: absolute;
    display: flex;
    height: 3.5em;
    width: 100%;
    bottom: 0;
    clear: both;
}

.dark {

}

.purple {
    background: #0f0329; /* Old browsers */
    background: -moz-linear-gradient(top, #1C0155 0%, #0f0329 44%, #0f0329 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,##0f0329), color-stop(100%,#0f0329)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1C0155 0%,#0f0329 44%,#0f0329 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1C0155 0%,#0f0329 44%,#0f0329 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1C0155 0%,#0f0329 44%,#0f0329 100%); /* IE10+ */
    background: linear-gradient(top, #1C0155 0%,#0f0329 44%,#0f0329 100%); /* W3C */
}
